<div class="aw-afptc__promo-popup" visible="visible">
    <img class="image" if="image" attr="src: image, alt: imageAltText"/>

    <div class="content">
        <p class="header" text="header"/>
        <div class="description" text="description"/>
        <a class="find-out-link"
           target="_blank"
           attr="href: url"
           if="url"
           text="urlText"/>
    </div>
    <button class="close-popup-btn"
            aria-label="Close"
          click="closePopup" />
</div>
