<?xml version="1.0"?>
<!--
/**
* Copyright 2019 aheadWorks. All rights reserved.
See LICENSE.txt for license details.
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aheadworks_Afptc::home"
             title="Add Free Product to Cart by Aheadworks"
             module="Aheadworks_Afptc"
             sortOrder="100" 
             parent="Magento_Backend::marketing"
             resource="Aheadworks_Afptc::home"/>
        <add id="Aheadworks_Afptc::rules"
             title="Rules"
             module="Aheadworks_Afptc"
             sortOrder="10" 
             parent="Aheadworks_Afptc::home"
             action="aw_afptc/rule/index"
             resource="Aheadworks_Afptc::rules"/>
    </menu>
</config>
